/* #headerImg{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
}

#nav-div{
    position: relative;
    z-index: 1;
}
 */

.header-img{
    width: 400px;
    margin-left: 100px;
}

.header-text{
    font-size: 70px;
    font-weight: 700;
    color: #60b0f4;

    margin: 0;
  position: absolute;
  top: 25%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}